# Environnement API
PORT=5000
NODE_ENV=development

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/gmboutique?retryWrites=true&w=majority

# Authentification (JWT)
JWT_SECRET=super_secret_key_change_me_in_prod
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

# SMTP / Email (Infomaniak / Mailtrap pour le dev)
SMTP_HOST=mail.infomaniak.com
SMTP_PORT=465
SMTP_USER=contact@gmboutique.ch
SMTP_PASS=votre_mot_de_passe_ici
SMTP_FROM="GM Boutique <contact@gmboutique.ch>"
